<html>

  <head>
    <!-- Instead of using relative path we will load CSS file using absolute path. Since we set web server root to public folder inside app.js-->
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created bt Akshay Shinde.</p>
      <p>It uses data from mapbox.com and weatherstack.com!</p>
      <img class="portrait" src='/img/robot.jpg' />
    </div>
    {{>footer}}
  </body>

</html>