<html>

  <head>
    <!-- Instead of using relative path we will load CSS file using absolute path. Since we set web server root to public folder inside app.js-->
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>{{helpText}}</p>
    </div>
    {{>footer}}
  </body>

</html>