<html>

  <head>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <!-- Load CSS file using relative path-->

    <!-- Instead of using relative path we will load CSS file using absolute path. Since we set web server root to public folder inside app.js-->
    <link rel='stylesheet' href='/css/style.css' />

    <link rel="icon" href="/img/weather.png">

    <title>Weather Applicaton</title>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>Use this website to get your Weather!</p>
      <form>
        <input placeholder="Location">

        <button>Search</button>
      </form>
      
      <p id="message-1"></p>
      <p id="message-2"></p>
    </div>
    
    {{>footer}}

    <script src='/js/app.js'></script>
  </body>

</html>